sudo: false

language: node_js

node_js:
  - 6
  - 7
  - 8

cache:
  directories:
    - node_modules

install:
  - npm i -g npm@latest
  - npm install

env:
  global:
    - secure: cRuN6DDq6JHOyQl9XW2hYtFST3J7uZPXBKk+iy+AC0eEe8Vj05VqHKXzqmLRWdwpf6SUmtaKuArmlZbbR7ahVj/YwUnRRND6DP5qeSnZi1YOZyT375PE7txC8C6uOtm7KLSbXoPOMed4qTgZ1Bm2MhrJRY07/8wCsPw6fhm4qxxh3IY05OT5qKdthPGxG/puZjDZBrnXroTvVuhwkor58ua5bjorOv0qMYblMkL2FgG5WlbM8/iBpRM56ma6x6eAxlsgbwkxlWM2bN9x+9fkic2tiox0fQQxeMgb3k5oemI9SSuYeiNkmGZnhOvi66v5C9gvptRvXWq12rhxPeKgnLjaVJkanfjWXx8XE2KXjaPg2T9aHbpbGA9BoSJBjbdHRwid3uarYdEPadATraTaM3e5IRhNBNn/i8bjfqnTIKFmH/HKuB0lT6R1IO7nEVXbnI2g8Nea6vafwkrO253jNGi8kZvqPcHmfAKb0St7Uoqvn7Vrq93oAsV84GsZS8Q/hBrhQ4pETh1LkGzVs7/pg7mc3HI5j1IR+gjsUqmc9kTWi5LPnra7pC4SEYyuKaO+AKo8ubwvJ28yj5T/Otvgk0DvpJycvAeFgK89e4u/jzCJtI27SpF4T+2DJMMKW4wTlb7l2Jaw0XRUgtinIc2gSbtUX2jX6kEBpekyKeRFwLE=
    - secure: VKkBg/1LIuXjlhf6F+hy379HqiyRdBapGPFebVO5SJIRQp3KCU/tWhUxj26MVxWM7+1O4oP5rETsnlkAe+CL+Ru2EnXXPLcNUOgGrvZQSQ0s+itUkTuNvgID8GQiKIPKjzyiwJ1JGRx4nrmQugCm6ZkcEI14LmyYyR8RzumVScVVcZ7IQ+0GNBBhewtztcGbkF3MAOM6gAQGybUbwxIzuESjnQFTNkp8QlOQQ0PIfCcgggrvsAS8HQ9dobiTcajKlDyd20+HmRdeIHhHe/kAy/IVigk2BC0RwxSyyAwQAgmiYYNDd6NYr1gIzIgw4OiL3+tXq+qBi+4mY2iS3evg1eRhWd9EIawKkkzeoxBUxEFK4dk6Du92QUj6FYPWMRAnJs2jwcEAa0wliAE0Mx1YZoVhwszXS4m/4vCorhJKqjRGiKNQ59JdUS+SSyV8x1GMBQTEw9Ii+KXnmD8olo9QZcXQ9wPk5wzEeJrD0mJAale98A25veX9o00Ik/J1DJY4/D9+KLtDUnevcVawCZiAzqu3ZS8tbhqtrAQzGdTF1zdSUwkCMqLApllyX3XdJys+ul58bx4XTu8AXpPz3xTwiokwDZ8fDBOaz9n3acP/JAx8KjHRRA8wi0r1T82U6fn+JlK1n+Kb5jGCcVWe4WUMtzxjC7/eE+JPLs+HodwGzD8=
