sudo: false

language: node_js

node_js:
  - 6
  - 7

cache:
  directories:
    - node_modules

install:
  - npm i -g npm@latest
  - npm install

env:
  global:
    - secure: Hs/BS/EeMX5w26dU/1q9M5/HXQDRIA1anl8jHSIoP3iXkZKf1Eq7ryWtbqRGdAieN+YGCcgfsaARysnmZ3I6v/Dp/J5DVp+iXcsnPyPrFup7wM2NpBU8c1ZE3r851WjBvzY5lCHlFRWb2QN94Kfrpny+CY5YftCYPQXgPyPm/GMhgdX4dyf/4eSXoUAIveGEYptGI9gOcupJaspsHTGkgZLb/xmVLKcrsIg/XU1JwVd+21Ovo4wT72tr1hJwtGdbC57Ndh2TtW7xxbAFCKCl/S0tXSCIIbIWxYKrHhJl2ZCW0gIBPfMOxmTxh4WjyKQn5bdnTGeTM/q5dN8y4VeAUiEl/6z5CZ1O7/Mv8pUcHQrEpFhBfUM0Nw3V7P5IbNnnCNA5pI+P3YP8tj8NnNhHcF1ogJC4x0Mr54y4B7FQd0UMGc3AtU5CVCvzqpi2tIi2JWD8zRHxTtTJo6AKdCJmjn42qAe4JtKg97sLKVu2+kChlKkCkZ3uFixiUaPLH81dLM1m1VUSBsKD5BNcopp/rW3sFQjxVQOnOP6vjJcryq/2jGExGMdqxnXZn9Pb66KTKa8BnDgNcKWTtLi9r3W728khiTQpWLEqWgr7SN5QbJn3AVmLDztUB++QDa+1FrLhSNugBeDOdVTAU2gOFEeEqJyiT9QuuKKTgFnnY/Rp4jo=
    - secure: TMJpYP3Hf8XrpJwHK7SvYd0PCJ9HfHXGXOsTiTeZCPcERlLkLxKzvA91bN9DCLh6JuvNGMOZJkqW7hZR9xrZvtp6a38T9+M0GV7+ABTe4QQp4H98kwLN7FfGhHRZQb0ms6pJuEaZCSfLa5vum9OmWxkDVKyx+qhghqeLQ8AUuyH3Ls1UD4pouQ3g+YsnsJG1+j7Q5fzMTHeH6osFXTI4352/uVfgzxzb+1HaPdQhocdGWYBQT3Uc2HaOVycipwp8ld59M1YqTDSH2ZPUNhByc1WibK7rIfks4uaBUo78pVOEzc9XvHCaaeGR6Hb2b0lZHnFBOQvoXyvV3NNTKwLln4HEK3I1adV9SF48HAUb2JRyLLWdQBYR7HmgdNrv4UXUk6/chAFAVzFLOCgs1OZ6r2oRQ6IGPnR+vGZVKQwEU8gG/lYuVZMbTNgYxsiJW9YyLAa5YioWdSPVlWHe6P5qynvsCG4dTVOr2DiOmVp3Dpbu5KcMHjeHkdnR6SMvyDlPr40bK+6jhzfvQ5J4X3LyLyYOYUc++AwapteA1q5Mr3W91l6qCdMcnlAXdu2TYdsf8m+ckU9cuDPJpF5zZkMWHTwEJboSNayCsrlcFCl4HVgvxqyhBMhxuJwYKk/Rvww7DCtkd2a7DUS7xGm0crvBu/9KHDYEEcmbbjrSINpUnr0=
